GrnApproval/xsd/GetInspectionData.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GetInspectionData" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/GetInspectionData" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="GetInspectionDataInput" type="GetInspectionDataInput"/>
   <xs:complexType name="GetInspectionDataInput">
      <xs:sequence>
         <xs:element name="shid" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GetInspectionDataOutputCollection" type="GetInspectionDataOutputCollection"/>
   <xs:complexType name="GetInspectionDataOutputCollection">
      <xs:sequence>
         <xs:element name="GetInspectionDataOutput" type="GetInspectionDataOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GetInspectionDataOutput">
      <xs:sequence>
         <xs:element name="TRANSACTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="LAST_UPDATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="CREATION_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="CREATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATE_LOGIN" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUEST_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_APPLICATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="TRANSACTION_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="TRANSACTION_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_OF_MEASURE" type="xs:string" nillable="true"/>
         <xs:element name="SHIPMENT_HEADER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SHIPMENT_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="USER_ENTERED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_SOURCE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_SOURCE_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INV_TRANSACTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SOURCE_DOCUMENT_CODE" type="xs:string" nillable="true"/>
         <xs:element name="DESTINATION_TYPE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="PRIMARY_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="PRIMARY_UNIT_OF_MEASURE" type="xs:string" nillable="true"/>
         <xs:element name="UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="EMPLOYEE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PARENT_TRANSACTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_HEADER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_RELEASE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_LINE_LOCATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_DISTRIBUTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_REVISION_NUM" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUISITION_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PO_UNIT_PRICE" type="xs:decimal" nillable="true"/>
         <xs:element name="CURRENCY_CODE" type="xs:string" nillable="true"/>
         <xs:element name="CURRENCY_CONVERSION_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="CURRENCY_CONVERSION_RATE" type="xs:decimal" nillable="true"/>
         <xs:element name="CURRENCY_CONVERSION_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="ROUTING_HEADER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ROUTING_STEP_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DELIVER_TO_PERSON_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DELIVER_TO_LOCATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="VENDOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="VENDOR_SITE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ORGANIZATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="LOCATOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_ENTITY_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_REPETITIVE_SCHEDULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_OPERATION_SEQ_NUM" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_RESOURCE_SEQ_NUM" type="xs:decimal" nillable="true"/>
         <xs:element name="BOM_RESOURCE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LOCATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SUBSTITUTE_UNORDERED_CODE" type="xs:string" nillable="true"/>
         <xs:element name="RECEIPT_EXCEPTION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INSPECTION_STATUS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="ACCRUAL_STATUS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INSPECTION_QUALITY_CODE" type="xs:string" nillable="true"/>
         <xs:element name="VENDOR_LOT_NUM" type="xs:string" nillable="true"/>
         <xs:element name="RMA_REFERENCE" type="xs:string" nillable="true"/>
         <xs:element name="COMMENTS" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE_CATEGORY" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="REQ_DISTRIBUTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DEPARTMENT_CODE" type="xs:string" nillable="true"/>
         <xs:element name="REASON_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESTINATION_CONTEXT" type="xs:string" nillable="true"/>
         <xs:element name="LOCATOR_ATTRIBUTE" type="xs:string" nillable="true"/>
         <xs:element name="CHILD_INSPECTION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SOURCE_DOC_UNIT_OF_MEASURE" type="xs:string" nillable="true"/>
         <xs:element name="SOURCE_DOC_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="INTERFACE_TRANSACTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="GROUP_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="MOVEMENT_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INVOICE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INVOICE_STATUS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="QA_COLLECTION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="MRC_CURRENCY_CONVERSION_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="MRC_CURRENCY_CONVERSION_DATE" type="xs:string" nillable="true"/>
         <xs:element name="MRC_CURRENCY_CONVERSION_RATE" type="xs:string" nillable="true"/>
         <xs:element name="COUNTRY_OF_ORIGIN_CODE" type="xs:string" nillable="true"/>
         <xs:element name="MVT_STAT_STATUS" type="xs:string" nillable="true"/>
         <xs:element name="QUANTITY_BILLED" type="xs:decimal" nillable="true"/>
         <xs:element name="MATCH_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="AMOUNT_BILLED" type="xs:decimal" nillable="true"/>
         <xs:element name="MATCH_OPTION" type="xs:string" nillable="true"/>
         <xs:element name="OE_ORDER_HEADER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="OE_ORDER_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CUSTOMER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CUSTOMER_SITE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LPN_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TRANSFER_LPN_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="MOBILE_TXN" type="xs:string" nillable="true"/>
         <xs:element name="SECONDARY_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="SECONDARY_UNIT_OF_MEASURE" type="xs:string" nillable="true"/>
         <xs:element name="QC_GRADE" type="xs:string" nillable="true"/>
         <xs:element name="SECONDARY_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="PA_ADDITION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="CONSIGNED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SOURCE_TRANSACTION_NUM" type="xs:string" nillable="true"/>
         <xs:element name="FROM_SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="FROM_LOCATOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="DROPSHIP_TYPE_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="LPN_GROUP_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="JOB_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TIMECARD_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TIMECARD_OVN" type="xs:decimal" nillable="true"/>
         <xs:element name="PROJECT_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TASK_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUESTED_AMOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="MATERIAL_STORED_AMOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="REPLENISH_ORDER_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LCM_SHIPMENT_LINE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_LANDED_COST" type="xs:decimal" nillable="true"/>
         <xs:element name="RECEIPT_CONFIRMATION_EXTRACTED" type="xs:string" nillable="true"/>
         <xs:element name="LCM_ADJUSTMENT_NUM" type="xs:decimal" nillable="true"/>
         <xs:element name="XML_DOCUMENT_ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>